@using eAgenda.Dominio.ModuloCompromisso
@model CadastrarCompromissoViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Compromisso";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <form asp-action="Cadastrar">
                    <h3>Formulário de Cadastro</h3>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Assunto" class="control-label fs-5">Assunto:</label>
                        <input asp-for="Assunto" class="form-control" placeholder="Informe o assunto do compromisso"/>
                        <span asp-validation-for="Assunto" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Data" class="control-label fs-5">Data:</label>
                        <input asp-for="Data" class="form-control" type="date" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="HoraInicio" class="control-label fs-5">Hora de Início:</label>
                        <input asp-for="HoraInicio" class="form-control" type="time" />
                        <span asp-validation-for="HoraInicio" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="HoraTermino" class="control-label fs-5">Hora de Término:</label>
                        <input asp-for="HoraTermino" class="form-control" type="time" />
                        <span asp-validation-for="HoraTermino" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Tipo" class="control-label fs-5">Tipo de Compromisso:</label>
                        <select asp-for="Tipo" id="inputTipo" asp-items="@Html.GetEnumSelectList<TipoCompromisso>()" class="form-select"></select>
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>

                    <div id="inputLocal" class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Local" class="control-label fs-5">Local:</label>
                        <input asp-for="Local" class="form-control" placeholder="Informe o local do compromisso" />
                        <span asp-validation-for="Local" class="text-danger"></span>
                    </div>

                    <div id="inputLink" class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Link" class="control-label fs-5">Link:</label>
                        <input asp-for="Link" class="form-control" placeholder="Informe o link remoto do compromisso" />
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="ContatoId" class="control-label fs-5">Contato:</label>
                        <select asp-for="ContatoId" asp-items="@Model.ContatosDisponiveis" class="form-select">
                            <option value="">Nenhum contato selecionado</option>
                        </select>
                        <span asp-validation-for="ContatoId" class="text-danger"></span>
                    </div>

                    <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                        <a href="/compromissos">Voltar para a listagem</a>
                        <button type="submit" class="btn btn-primary rounded-3 px-5">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const inputTipo = document.getElementById("inputTipo");
            const divLocal = document.getElementById("inputLocal");
            const divLink = document.getElementById("inputLink");

            function alternarCampos() {
                if (inputTipo.value === "0") { 
                    divLocal.style.setProperty('display', 'none', 'important');
                    divLink.style.setProperty('display', 'block', 'important');
                }

                else { 
                    divLocal.style.setProperty('display', 'block', 'important');
                    divLink.style.setProperty('display', 'none', 'important');
                }
            }

            alternarCampos();

            inputTipo.addEventListener('change', alternarCampos);
        });
    </script>
}